:root {
  --fon-color: #ffffff;
  --team-color: #f5f4fa;
  --footer-color: #2f303a;
  --link-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
  font-style: normal;
}

.link {
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--link-color);
}

.heading {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo__item {
  margin-right: 93px;
}

.logo__link {
  color: var(--link-color);
  text-decoration: none;
}

.logo__header {
  color: #212121;
}

.logo__footer {
  color: var(--fon-color);
}

.connect, .connect__list {
  display: flex;
  align-items: center;
}

.connect__item:not(:last-child) {
  margin-right: 30px;
}

.connect__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 5px;
  padding-bottom: 5px;
}

.connect__mail-icon,
.connect__tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero-btn {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: 0.06em;
  background-color: var(--link-color);
  color: var(--fon-color);
  line-height: 1.88;
  cursor: pointer;
  height: 50px;
  min-width: 200px;
  border: 0px;
  border-radius: 4px;
}

.subscription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription__icon {
  border: none;
  background-image: url(../images/subscription-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
}

.social-network-list {
  display: flex;
  justify-content: center;
}

.social-network-list__item + .social-network-list__item {
  margin-left: 10px;
}

.social-network-list__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 270ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-list__link:hover, .social-network-list__link:focus {
  background-color: var(--link-color);
  color: var(--fon-color);
}

.social-network-list__icon {
  fill: currentColor;
}

.social-network-list__backcolor {
  background-color: var(--fon-color);
  color: #afb1b8;
}

.social-network-list__backcolor-footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: opacity 500ms, visibility 500ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hiden {
  visibility: hidden;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--fon-color);
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__titel {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03ex;
  text-align: center;
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__wrap {
  position: relative;
  display: flex;
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 500ms;
}

.modal__text {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01ex;
  display: block;
  margin-bottom: 4px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border 500ms;
}

.modal__input:hover, .modal__input:focus {
  border: 1px solid var(--link-color);
}

.modal__input:hover + .modal__icon {
  fill: var(--link-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--link-color);
}

.modal__textarea {
  margin-bottom: 20px;
}

.modal__form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border 500ms;
}

.modal__form-text:hover, .modal__form-text:focus {
  border: 1px solid var(--link-color);
}

.modal__form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__policy-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03ex;
  text-align: center;
}

.modal__checkbox {
  width: 16px;
  height: 15px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 7px;
}

.modal__checkbox:checked {
  width: 16px;
  height: 15px;
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal__checkbox:focus {
  background-color: var(--link-color);
}

.modal__policy-link {
  margin-left: 7px;
  color: var(--link-color);
}

.modal__send-btn {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  left: 124px;
}

.modal-close__position {
  top: 8px;
  right: 8px;
}

.modal-close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--fon-color);
  color: #212121;
  position: absolute;
  cursor: pointer;
}

.modal-close:hover, .modal-close:focus {
  background-color: var(--fon-color);
  color: var(--link-color);
}

.modal-close__icon {
  fill: currentColor;
  transition: 500ms;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.filter-list__btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: var(--team-color);
  color: #212121;
  line-height: 1.63;
  padding: 6px 22px;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: var(--link-color);
  color: var(--fon-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

.filter-list__active {
  color: var(--fon-color);
  background-color: var(--link-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: var(--fon-color);
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-container__link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  padding-bottom: 5px;
  padding-top: 5px;
}

.current {
  color: var(--link-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--link-color);
  position: absolute;
  left: 0;
  bottom: -27px;
}

.header-container, .header-container__list {
  display: flex;
  align-items: center;
}

.header-container__nav {
  margin-right: 305px;
}

.header-container__item:not(:last-child) {
  margin-right: 50px;
}

.hero {
  width: 1600px;
  background-size: cover;
  background-color: var(--footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container__text {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: var(--fon-color);
  line-height: 1.36;
  text-align: center;
  width: 696px;
  margin-bottom: 30px;
}

.feature {
  background-color: var(--fon-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
}

.feature-list__item:not(:last-child) {
  margin-right: 30px;
}

.feature-list__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--team-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__property {
  width: 270px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.17;
  margin-bottom: 10px;
}

.feature-list__text {
  width: 270px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.71;
}

.picture {
  background-color: var(--fon-color);
  padding-top: 0px;
  padding-bottom: 94px;
}

.picture__list {
  display: flex;
}

.picture__item {
  position: relative;
}

.picture__item:not(:last-child) {
  margin-right: 30px;
}

.picture__img {
  position: relative;
}

.picture__text {
  width: 100%;
  height: 70px;
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--fon-color);
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
}

.teams {
  background-color: var(--team-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.teams-list {
  display: flex;
}

.teams-list__item {
  background-color: var(--fon-color);
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.teams-list__item:not(:last-child) {
  margin-right: 30px;
}

.teams-list__img {
  margin-bottom: 30px;
}

.teams-list__property {
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 10px;
}

.teams-list__text {
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.71;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  background-color: var(--fon-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--link-color);
  color: var(--link-color);
}

.clients-list__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  width: 231px;
}

.footer-contact__position {
  margin-right: 70px;
}

.footer-contact__box {
  margin-bottom: 20px;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact__adress {
  font-size: 14px;
  color: var(--fon-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.footer-contact__mail,
.footer-contact__tel {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.footer-social {
  width: 206px;
}

.footer-social__position {
  margin-right: 93px;
}

.footer-social__join {
  font-weight: 700;
  font-size: 14px;
  color: var(--fon-color);
  margin-bottom: 20px;
}

.footer__wrap {
  position: relative;
  display: flex;
}

.footer__form {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--fon-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-color);
  outline: none;
  margin-right: 12px;
}

.footer__form:hover, .footer__form:focus {
  border: 1px solid var(--link-color);
  transition: border 500ms;
}

.project {
  background-color: var(--fon-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.project-list__item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.project-list__item:not(:nth-last-child(n + 4)) {
  margin-bottom: 0px;
}

.project-list__link {
  display: block;
  text-decoration: none;
}

.project-list__link:hover, .project-list__link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06), 0 1px 1px rgba(0, 0, 0, 0.12);
}

.project-list__link:hover .project-list__overlay,
.project-list__link:focus .project-list__overlay {
  transform: translateY(0%);
}

.project-list__img {
  position: relative;
  overflow: hidden;
}

.project-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--fon-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.project-list__info {
  width: 370px;
  padding: 20px 24px;
  background-color: var(--fon-color);
  border: 1px solid #eeeeee;
}

.project-list__property {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #212121;
  line-height: 2;
  margin-bottom: 4px;
}

.project-list__text {
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.88;
}
/*# sourceMappingURL=main.css.map */