.hero-btn {
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto";
    letter-spacing: 0.06em;
    background-color: var(--link-color);
    color: var(--fon-color);
    line-height: 1.88;
    cursor: pointer;
    height: 50px;
    min-width: 200px;
    border: 0px;
    border-radius: 4px;
}