.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
    transform: opacity 500ms, visibility 500ms;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--fon-color);
    border-radius: 4px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal__titel {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03ex;
    text-align: center;
    margin-bottom: 12px;
}

.modal__field {
    margin-bottom: 10px;
}

.modal__wrap {
    position: relative;
    display: flex;
}

.modal__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 500ms;
}

.modal__text {
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01ex;
    display: block;
    margin-bottom: 4px;
}

.modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    cursor: pointer;
    transition: border 500ms;
    &:hover, &:focus {
        border: 1px solid var(--link-color);
    }
    &:hover + .modal__icon {
        fill: var(--link-color);
    }
    &:focus + .modal__icon {
        fill: var(--link-color);
    }
}    

.modal__textarea {
    margin-bottom: 20px;
}

.modal__form-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    outline: none;
    transition: border 500ms;
    &:hover, &:focus {
        border: 1px solid var(--link-color);
    }
}

.modal__form-check {
    margin-bottom: 30px;
}

.modal__policy-check {
    display: none;
    &:checked + .modal__check-text::before {
        border: none;
        background-image: url(../images/icon-check.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.modal__check-text {
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03ex;
    display: flex;
    height: 24px;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        width: 16px;
        height: 15px;
        border: 1px solid #000000;
        border-radius: 2px;
        margin-right: 7px;
    }
}

.modal__policy-link {
    margin-left: 7px;
    color: var(--link-color);
}

.modal__send-btn {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    left: 124px;
}

.modal-close__position {
    top: 8px;
    right: 8px;
}