.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription__icon{
    border: none;
    background-image: url(../images/subscription-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}